# Compiled binaries
bin/
vnes/
X64/

# Build artifacts
build/
vcpkg_installed/
*.o
*.obj
*.a
*.so
*.dylib
*.lib
*.dll
*.exe

# ROM files (copyrighted content)
roms/
*.nes
*.dbg

# IDE and editor files
.github/
.vscode/
.vs/
.idea/
*.swp
*.swo
*~
.DS_Store

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Dependency files
*.d

# Core dumps
core
core.*
